body {
    font-family: system-ui;
    background-color: green;
    color: white;
    margin: 0;
  }
  img{
    height :50px;
  }

  .hero-container{
    height: 50vh;
    background-color: rgb(197, 197, 240);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .dino-container{
    text-align: center;  
  }

  .ast-container{
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
  }
  